.mc-block {position:relative; height: 25px; width: 25px; overflow: hidden; display: inline-block; vertical-align: text-top;}
.mc-block span{background: url('../img/blocks.png') no-repeat; height: 25px; width: 3625px; display: block; position: absolute;}
.mc-block .id-1 { top: 0px; left: -25px; } 
.mc-block .id-2 { top: 0px; left: -50px; } 
.mc-block .id-3 { top: 0px; left: -75px; } 
.mc-block .id-4 { top: 0px; left: -100px; } 
.mc-block .id-5 { top: 0px; left: -125px; } 
.mc-block .id-6 { top: 0px; left: -150px; } 
.mc-block .id-7 { top: 0px; left: -175px; } 
.mc-block .id-8 { top: 0px; left: -200px; } 
.mc-block .id-9 { top: 0px; left: -225px; } 
.mc-block .id-10 { top: 0px; left: -250px; } 
.mc-block .id-11 { top: 0px; left: -275px; } 
.mc-block .id-12 { top: 0px; left: -300px; } 
.mc-block .id-13 { top: 0px; left: -325px; } 
.mc-block .id-14 { top: 0px; left: -350px; } 
.mc-block .id-15 { top: 0px; left: -375px; } 
.mc-block .id-17 { top: 0px; left: -425px; } 
.mc-block .id-16 { top: 0px; left: -400px; } 
.mc-block .id-19 { top: 0px; left: -475px; } 
.mc-block .id-18 { top: 0px; left: -450px; } 
.mc-block .id-21 { top: 0px; left: -525px; } 
.mc-block .id-20 { top: 0px; left: -500px; } 
.mc-block .id-23 { top: 0px; left: -575px; } 
.mc-block .id-22 { top: 0px; left: -550px; } 
.mc-block .id-25 { top: 0px; left: -625px; } 
.mc-block .id-24 { top: 0px; left: -600px; } 
.mc-block .id-27 { top: 0px; left: -675px; } 
.mc-block .id-26 { top: 0px; left: -650px; } 
.mc-block .id-29 { top: 0px; left: -725px; } 
.mc-block .id-28 { top: 0px; left: -700px; } 
.mc-block .id-31 { top: 0px; left: -775px; } 
.mc-block .id-30 { top: 0px; left: -750px; } 
.mc-block .id-34 { top: 0px; left: -850px; } 
.mc-block .id-35 { top: 0px; left: -875px; } 
.mc-block .id-32 { top: 0px; left: -800px; } 
.mc-block .id-33 { top: 0px; left: -825px; } 
.mc-block .id-38 { top: 0px; left: -950px; } 
.mc-block .id-39 { top: 0px; left: -975px; } 
.mc-block .id-36 { top: 0px; left: -900px; } 
.mc-block .id-37 { top: 0px; left: -925px; } 
.mc-block .id-42 { top: 0px; left: -1050px; } 
.mc-block .id-43 { top: 0px; left: -1075px; } 
.mc-block .id-40 { top: 0px; left: -1000px; } 
.mc-block .id-41 { top: 0px; left: -1025px; } 
.mc-block .id-46 { top: 0px; left: -1150px; } 
.mc-block .id-47 { top: 0px; left: -1175px; } 
.mc-block .id-44 { top: 0px; left: -1100px; } 
.mc-block .id-45 { top: 0px; left: -1125px; } 
.mc-block .id-51 { top: 0px; left: -1275px; } 
.mc-block .id-50 { top: 0px; left: -1250px; } 
.mc-block .id-49 { top: 0px; left: -1225px; } 
.mc-block .id-48 { top: 0px; left: -1200px; } 
.mc-block .id-55 { top: 0px; left: -1375px; } 
.mc-block .id-54 { top: 0px; left: -1350px; } 
.mc-block .id-53 { top: 0px; left: -1325px; } 
.mc-block .id-52 { top: 0px; left: -1300px; } 
.mc-block .id-59 { top: 0px; left: -1475px; } 
.mc-block .id-58 { top: 0px; left: -1450px; } 
.mc-block .id-57 { top: 0px; left: -1425px; } 
.mc-block .id-56 { top: 0px; left: -1400px; } 
.mc-block .id-63 { top: 0px; left: -1575px; } 
.mc-block .id-62 { top: 0px; left: -1550px; } 
.mc-block .id-61 { top: 0px; left: -1525px; } 
.mc-block .id-60 { top: 0px; left: -1500px; } 
.mc-block .id-68 { top: 0px; left: -1700px; } 
.mc-block .id-69 { top: 0px; left: -1725px; } 
.mc-block .id-70 { top: 0px; left: -1750px; } 
.mc-block .id-71 { top: 0px; left: -1775px; } 
.mc-block .id-64 { top: 0px; left: -1600px; } 
.mc-block .id-65 { top: 0px; left: -1625px; } 
.mc-block .id-66 { top: 0px; left: -1650px; } 
.mc-block .id-67 { top: 0px; left: -1675px; } 
.mc-block .id-76 { top: 0px; left: -1900px; } 
.mc-block .id-77 { top: 0px; left: -1925px; } 
.mc-block .id-78 { top: 0px; left: -1950px; } 
.mc-block .id-79 { top: 0px; left: -1975px; } 
.mc-block .id-72 { top: 0px; left: -1800px; } 
.mc-block .id-73 { top: 0px; left: -1825px; } 
.mc-block .id-74 { top: 0px; left: -1850px; } 
.mc-block .id-75 { top: 0px; left: -1875px; } 
.mc-block .id-85 { top: 0px; left: -2125px; } 
.mc-block .id-84 { top: 0px; left: -2100px; } 
.mc-block .id-87 { top: 0px; left: -2175px; } 
.mc-block .id-86 { top: 0px; left: -2150px; } 
.mc-block .id-81 { top: 0px; left: -2025px; } 
.mc-block .id-80 { top: 0px; left: -2000px; } 
.mc-block .id-83 { top: 0px; left: -2075px; } 
.mc-block .id-82 { top: 0px; left: -2050px; } 
.mc-block .id-93 { top: 0px; left: -2325px; } 
.mc-block .id-92 { top: 0px; left: -2300px; } 
.mc-block .id-95 { top: 0px; left: -2375px; } 
.mc-block .id-94 { top: 0px; left: -2350px; } 
.mc-block .id-89 { top: 0px; left: -2225px; } 
.mc-block .id-88 { top: 0px; left: -2200px; } 
.mc-block .id-91 { top: 0px; left: -2275px; } 
.mc-block .id-90 { top: 0px; left: -2250px; } 
.mc-block .id-102 { top: 0px; left: -2550px; } 
.mc-block .id-103 { top: 0px; left: -2575px; } 
.mc-block .id-100 { top: 0px; left: -2500px; } 
.mc-block .id-101 { top: 0px; left: -2525px; } 
.mc-block .id-98 { top: 0px; left: -2450px; } 
.mc-block .id-99 { top: 0px; left: -2475px; } 
.mc-block .id-96 { top: 0px; left: -2400px; } 
.mc-block .id-97 { top: 0px; left: -2425px; } 
.mc-block .id-110 { top: 0px; left: -2750px; } 
.mc-block .id-111 { top: 0px; left: -2775px; } 
.mc-block .id-108 { top: 0px; left: -2700px; } 
.mc-block .id-109 { top: 0px; left: -2725px; } 
.mc-block .id-106 { top: 0px; left: -2650px; } 
.mc-block .id-107 { top: 0px; left: -2675px; } 
.mc-block .id-104 { top: 0px; left: -2600px; } 
.mc-block .id-105 { top: 0px; left: -2625px; } 
.mc-block .id-119 { top: 0px; left: -2975px; } 
.mc-block .id-118 { top: 0px; left: -2950px; } 
.mc-block .id-117 { top: 0px; left: -2925px; } 
.mc-block .id-116 { top: 0px; left: -2900px; } 
.mc-block .id-115 { top: 0px; left: -2875px; } 
.mc-block .id-114 { top: 0px; left: -2850px; } 
.mc-block .id-113 { top: 0px; left: -2825px; } 
.mc-block .id-112 { top: 0px; left: -2800px; } 
.mc-block .id-127 { top: 0px; left: -3175px; } 
.mc-block .id-126 { top: 0px; left: -3150px; } 
.mc-block .id-125 { top: 0px; left: -3125px; } 
.mc-block .id-124 { top: 0px; left: -3100px; } 
.mc-block .id-123 { top: 0px; left: -3075px; } 
.mc-block .id-122 { top: 0px; left: -3050px; } 
.mc-block .id-121 { top: 0px; left: -3025px; } 
.mc-block .id-120 { top: 0px; left: -3000px; } 
.mc-block .id-137 { top: 0px; left: -3425px; } 
.mc-block .id-136 { top: 0px; left: -3400px; } 
.mc-block .id-139 { top: 0px; left: -3475px; } 
.mc-block .id-138 { top: 0px; left: -3450px; } 
.mc-block .id-141 { top: 0px; left: -3525px; } 
.mc-block .id-140 { top: 0px; left: -3500px; } 
.mc-block .id-143 { top: 0px; left: -3575px; } 
.mc-block .id-142 { top: 0px; left: -3550px; } 
.mc-block .id-129 { top: 0px; left: -3225px; } 
.mc-block .id-128 { top: 0px; left: -3200px; } 
.mc-block .id-131 { top: 0px; left: -3275px; } 
.mc-block .id-130 { top: 0px; left: -3250px; } 
.mc-block .id-133 { top: 0px; left: -3325px; } 
.mc-block .id-132 { top: 0px; left: -3300px; } 
.mc-block .id-135 { top: 0px; left: -3375px; } 
.mc-block .id-134 { top: 0px; left: -3350px; } 
.mc-block .id-144 { top: 0px; left: -3600px; } 
.mc-block .id-145 { top: 0px; left: -3625px; } 
.mc-item {position: relative; height: 16px; width: 16px; overflow: hidden; display: inline-block; vertical-align: text-top; margin-left: 4px;}
.mc-item span{background: url('../img/items.png') no-repeat; height: 256px; width: 256px; display: block; position: absolute;}
.mc-item .id-256 {top: -80px; left: -32px; } 
.mc-item .id-257 { top: -96px; left: -32px; } 
.mc-item .id-258 { top: -112px; left: -32px; } 
.mc-item .id-259 { top: 0px; left: -80px; } 
.mc-item .id-260 { top: 0px; left: -160px; } 
.mc-item .id-261 { top: -16px; left: -80px; } 
.mc-item .id-262 { top: -32px; left: -80px; } 
.mc-item .id-263 { top: 0px; left: -112px; } 
.mc-item .id-264 { top: -48px; left: -112px; } 
.mc-item .id-265 { top: -16px; left: -112px; } 
.mc-item .id-266 { top: -32px; left: -112px; } 
.mc-item .id-267 { top: -64px; left: -32px; } 
.mc-item .id-268 { top: -64px; left: 0px; } 
.mc-item .id-269 { top: -80px; left: 0px; } 
.mc-item .id-270 { top: -96px; left: 0px; } 
.mc-item .id-271 { top: -112px; left: 0px; } 
.mc-item .id-272 { top: -64px; left: -16px; } 
.mc-item .id-273 { top: -80px; left: -16px; } 
.mc-item .id-274 { top: -96px; left: -16px; } 
.mc-item .id-275 { top: -112px; left: -16px; } 
.mc-item .id-276 { top: -64px; left: -48px; } 
.mc-item .id-277 { top: -80px; left: -48px; } 
.mc-item .id-278 { top: -96px; left: -48px; } 
.mc-item .id-279 { top: -112px; left: -48px; } 
.mc-item .id-280 { top: -48px; left: -80px; } 
.mc-item .id-281 { top: -64px; left: -112px; } 
.mc-item .id-282 { top: -64px; left: -128px; } 
.mc-item .id-283 { top: -64px; left: -64px; } 
.mc-item .id-284 { top: -80px; left: -64px; } 
.mc-item .id-285 { top: -96px; left: -64px; } 
.mc-item .id-286 { top: -112px; left: -64px; } 
.mc-item .id-287 { top: 0px; left: -128px; } 
.mc-item .id-288 { top: -16px; left: -128px; } 
.mc-item .id-289 { top: -32px; left: -128px; } 
.mc-item .id-290 { top: -128px; left: 0px; } 
.mc-item .id-291 { top: -128px; left: -16px; } 
.mc-item .id-292 { top: -128px; left: -32px; } 
.mc-item .id-293 { top: -128px; left: -48px; } 
.mc-item .id-294 { top: -128px; left: -64px; } 
.mc-item .id-295 { top: 0px; left: -144px; } 
.mc-item .id-296 { top: -16px; left: -144px; } 
.mc-item .id-297 { top: -32px; left: -144px; } 
.mc-item .id-298 { top: 0px; left: 0px; } 
.mc-item .id-299 { top: -16px; left: 0px; } 
.mc-item .id-300 { top: -32px; left: 0px; } 
.mc-item .id-301 { top: -48px; left: 0px; } 
.mc-item .id-302 { top: 0px; left: -16px; } 
.mc-item .id-303 { top: -16px; left: -16px; } 
.mc-item .id-304 { top: -32px; left: -16px; } 
.mc-item .id-305 { top: -48px; left: -16px; } 
.mc-item .id-306 { top: 0px; left: -32px; } 
.mc-item .id-307 { top: -16px; left: -32px; } 
.mc-item .id-308 { top: -32px; left: -32px; } 
.mc-item .id-309 { top: -48px; left: -32px; } 
.mc-item .id-310 { top: 0px; left: -48px; } 
.mc-item .id-311 { top: -16px; left: -48px; } 
.mc-item .id-312 { top: -32px; left: -48px; } 
.mc-item .id-313 { top: -48px; left: -48px; } 
.mc-item .id-314 { top: 0px; left: -64px; } 
.mc-item .id-315 { top: -16px; left: -64px; } 
.mc-item .id-316 { top: -32px; left: -64px; } 
.mc-item .id-317 { top: -48px; left: -64px; } 
.mc-item .id-318 { top: 0px; left: -96px; } 
.mc-item .id-319 { top: -80px; left: -112px; } 
.mc-item .id-320 { top: -80px; left: -128px; } 
.mc-item .id-321 { top: -16px; left: -160px; } 
.mc-item .id-322 { top: 0px; left: -176px; } 
.mc-item .id-323 { top: -32px; left: -160px; } 
.mc-item .id-324 { top: -32px; left: -176px; } 
.mc-item .id-325 { top: -64px; left: -160px; } 
.mc-item .id-326 { top: -64px; left: -176px; } 
.mc-item .id-327 { top: -64px; left: -192px; } 
.mc-item .id-328 { top: -128px; left: -112px; } 
.mc-item .id-329 { top: -96px; left: -128px; } 
.mc-item .id-330 { top: -32px; left: -192px; } 
.mc-item .id-331 { top: -48px; left: -128px; } 
.mc-item .id-332 { top: 0px; left: -224px; } 
.mc-item .id-333 { top: -128px; left: -128px; } 
.mc-item .id-334 { top: -96px; left: -112px; } 
.mc-item .id-335 { top: -64px; left: -208px; } 
.mc-item .id-336 { top: -16px; left: -96px; } 
.mc-item .id-337 { top: -48px; left: -144px; } 
.mc-item .id-338 { top: -16px; left: -176px; } 
.mc-item .id-339 { top: -48px; left: -160px; } 
.mc-item .id-340 { top: -48px; left: -176px; } 
.mc-item .id-341 { top: -16px; left: -224px; } 
.mc-item .id-342 { top: -144px; left: -112px; } 
.mc-item .id-343 { top: -160px; left: -112px; } 
.mc-item .id-344 { top: 0px; left: -192px; } 
.mc-item .id-345 { top: -48px; left: -96px; } 
.mc-item .id-346 { top: -64px; left: -80px; } 
.mc-item .id-347 { top: -64px; left: -96px; } 
.mc-item .id-348 { top: -64px; left: -144px; } 
.mc-item .id-349 { top: -80px; left: -144px; } 
.mc-item .id-350 { top: -80px; left: -160px; } 
.mc-item .id-351 { top: -64px; left: -224px; } 
.mc-item .id-352 { top: -16px; left: -192px; } 
.mc-item .id-353 { top: 0px; left: -208px; } 
.mc-item .id-354 { top: -16px; left: -208px; } 
.mc-item .id-355 { top: -32px; left: -208px; } 
.mc-item .id-356 { top: -80px; left: -96px; } 
.mc-item .id-357 { top: -80px; left: -192px; } 
.mc-item .id-358 { top: -48px; left: -192px; } 
.mc-item .id-359 { top: -80px; left: -208px; } 
.mc-item .id-360 { top: -96px; left: -208px; } 
.mc-item .id-361 { top: -48px; left: -208px; } 
.mc-item .id-362 { top: -48px; left: -224px; } 
.mc-item .id-363 { top: -96px; left: -144px; } 
.mc-item .id-364 { top: -96px; left: -160px; } 
.mc-item .id-365 { top: -112px; left: -144px; } 
.mc-item .id-366 { top: -112px; left: -160px; } 
.mc-item .id-367 { top: -80px; left: -176px; } 
.mc-item .id-368 { top: -96px; left: -176px; } 
.mc-item .id-369 { top: -96px; left: -192px; } 
.mc-item .id-370 { top: -112px; left: -176px; } 
.mc-item .id-371 { top: -112px; left: -192px; } 
.mc-item .id-372 { top: -112px; left: -208px; } 
.mc-item .id-373 { top: -128px; left: -208px; } 
.mc-item .id-374 { top: -128px; left: -192px; } 
.mc-item .id-375 { top: -128px; left: -176px; } 
.mc-item .id-376 { top: -128px; left: -160px; } 
.mc-item .id-377 { top: -144px; left: -208px; } 
.mc-item .id-378 { top: -160px; left: -208px; } 
.mc-item .id-379 { top: -160px; left: -192px; } 
.mc-item .id-380 { top: -144px; left: -192px; } 
.mc-item .id-381 { top: -144px; left: -176px; } 
.mc-item .id-382 { top: -128px; left: -144px; } 
.mc-item .id-383 { top: -224px; left: -160px; } 
.mc-item .id-384 { top: -160px; left: -176px; } 
.mc-item .id-385 { top: -32px; left: -224px; } 
.mc-item .id-386 { top: -176px; left: -176px; } 
.mc-item .id-387 { top: -176px; left: -192px; } 
.mc-item .id-388 { top: -176px; left: -160px; } 
.mc-item .id-389 { top: -192px; left: -224px; } 
.mc-item .id-390 { top: -176px; left: -208px; } 
.mc-item .id-391 { top: -112px; left: -128px; } 
.mc-item .id-392 { top: -112px; left: -112px; } 
.mc-item .id-393 { top: -112px; left: -96px; } 
.mc-item .id-394 { top: -128px; left: -96px; } 
.mc-item .id-395 { top: -192px; left: -208px; } 
.mc-item .id-396 { top: -144px; left: -96px; } 
.mc-item .id-397 { top: -144px; left: -272px; } 
.mc-item .id-398 { top: -96px; left: -96px; } 
.mc-item .id-399 { top: -176px; left: -144px; } 
.mc-item .id-400 { top: -144px; left: -128px; } 
.mc-item .id-401 { top: -192px; left: -144px; } 
.mc-item .id-402 { top: -192px; left: -160px; } 
.mc-item .id-403 { top: -192px; left: -240px; } 
.mc-item .id-2256 { top: -240px; left: 0px; } 
.mc-item .id-2257 { top: -240px; left: -16px; } 
.mc-item .id-2258 { top: -240px; left: -32px; } 
.mc-item .id-2259 { top: -240px; left: -48px; } 
.mc-item .id-2260 { top: -240px; left: -64px; } 
.mc-item .id-2261 { top: -240px; left: -80px; } 
.mc-item .id-2262 { top: -240px; left: -96px; } 
.mc-item .id-2263 { top: -240px; left: -112px; } 
.mc-item .id-2264 { top: -240px; left: -128px; } 
.mc-item .id-2265 { top: -240px; left: -144px; } 
.mc-item .id-2266 { top: -240px; left: -160px; } 
.mc-item .id-2267 { top: -240px; left: -176px; } 
